// Utilities
@import "../../variables";
// @import "~bootstrap";


.team-carousel {
    margin: -12px;
    .slick-slider {
        .slick-slide {
            & > div {
                display: flex;
                padding: 12px;
            }
            .team-img-wrap {
                .team-img {
                    @include img-container(130%, 'cover');
                    display: block;
                    height: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }
        }
    }
    
}